
@-moz-document domain(gitlab.arch), domain(gitlab.com) {
    /* colors from github */

    /* issue list */

    .well-list li:hover {
        background-color: #f7f7f7;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .well-list li.closed:hover {
        background-color: #f0f0f0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    /* issue first post */

    .issue-box {
        color: #333;
        background-color: inherit;
    }

    .issue-box .state {
        padding: 8px 15px;
    }

    .issue-box .creator {
        padding: 0;
        line-height: 25px;
    }

    .issue-box .creator .author {
        color: #555;
        font-weight: bold;
    }

    .issue-box .creator .author:hover {
        color: #555;
        font-weight: bold;
        text-decoration: underline;
    }

    .issue-box .state-label {
        border-radius: 3px;
        display: inline-block;
        font-weight: bold;
        line-height: 20px;
        padding: 4px 8px;
    }

    ul.notes .note {
        border: 1px solid #ddd;
        border-radius: 3px;
        margin-bottom: 15px;
        padding: 0 0;
    }

    /* open issues first post */

    .issue-box.issue-box-open {
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    .issue-box.issue-box-open .state {
        background-color: #f7f7f7;
        border-color: #ddd;
        border-bottom: 1px solid #eee;
        color: #999;
    }

    .issue-box.issue-box-open .state-label {
        background-color: #58baa3;
        color: #fff;
    }

    /* closed issues first post */

    .issue-box.issue-box-closed {
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    .issue-box.issue-box-closed .state {
        background-color: #f7f7f7;
        border-color: #ddd;
        border-bottom: 1px solid #eee;
        color: #999;
    }

    .issue-box.issue-box-closed .state-label {
        background-color: #bd2c00;
        color: #fff;
    }

    /* issue comments */

    .timeline:before {
        display: none;
    }

    .timeline .timeline-entry {
        margin-left: 0px;
    }

    .timeline .timeline-entry .timeline-entry-inner {
        margin-left: 0px;
    }

    .timeline .timeline-entry .timeline-entry-inner .timeline-icon {
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px;
        height: 16px;
        width: 16px;
        position: relative;
        z-index: 999;
        margin: 9px 5px 9px 10px;
    }

    .timeline .timeline-entry .timeline-entry-inner .timeline-content {
        margin-left: 0px;
        padding: 0px 0px;
        background-color: white;
    }

    .timeline .timeline-entry .timeline-entry-inner .timeline-content:after {
        display: none;
    }

    ul.notes .note .note-header {
        padding: 8px 10px;
        background-color: #f7f7f7;
    }

    ul.notes .note .note-body {
        padding: 15px 15px 10px;
    }

    ul.notes .note:last-child {
       border-bottom: 1px solid #ddd;
    }

    ul.notes .discussion-header, ul.notes .note-header {
        color: #999;
    }

    ul.notes .discussion-header .discussion-last-update:before, ul.notes .discussion-header .note-last-update:before, ul.notes .note-header .discussion-last-update:before, ul.notes .note-header .note-last-update:before {
        display: none;
    }

    ul.notes .discussion-header .author, ul.notes .note-header .author {
        font-size: 13px;
        color: #555;
    }

    ul.notes .discussion-header .author:hover, ul.notes .note-header .author:hover {
        font-size: 13px;
        color: #555;
    }

    .discussion .discussion-actions, .discussion .note-actions, .note .discussion-actions, .note .note-actions {
        display: inline;
        margin-top: -3px;
    }

    .discussion .discussion-actions a, .discussion .note-actions a, .note .discussion-actions a, .note .note-actions a {
        font-size: 0px;
    }

    .discussion .discussion-actions i, .discussion .note-actions i, .note .discussion-actions i, .note .note-actions i {
        color: #bbb;
    }

    /* edit boxes */

    .note_text {
        max-height: 500px;
    }

    /* markdown */

    .wiki code, .note-text code {
        color: #333;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 3px;
    }

    .wiki ul, .note-text ul {
        margin-bottom: 9px;
        padding-left: 2em;
    }

    .wiki ul ul, .note-text ul ul {
        margin-bottom: 0px;
    }

    .wiki ul, .note-text ul {
        list-style: disc;
    }

    .wiki ul ul, .note-text ul ul {
        list-style: circle;
    }

    .wiki ul ul ul, .note-text ul ul ul {
        list-style: square;
    }
}
