
@-moz-document domain(gitlab.arch), domain(gitlab.com) {
    /* colors from github */

    /* issue list */

    .well-list li:hover {
        background-color: #f7f7f7;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .well-list li.closed:hover {
        background-color: #f0f0f0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    /* issue first post */

    .issue-box {
        margin-top: 40px;
        color: #333;
        background-color: inherit;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    /* issue first post icon */

    .issue-box .state {
        background-color: #f7f7f7 !important;
        border-bottom: 1px solid #eee !important;
        color: #999;
    }

    .issue-box .state-label {
        margin-top: -40px;
        padding: 4px 8px;
        font-weight: bold;
        line-height: 20px;
        border-radius: 3px;
    }

    .issue-box.issue-box-open .state-label:before {
        font-family: FontAwesome;
        content: "";
    }

    .issue-box.issue-box-open .state-label {
        background-color: #6cc644;
        color: #fff;
    }

    .issue-box.issue-box-closed .state-label:before {
        font-family: FontAwesome;
        content: "";
    }

    .issue-box.issue-box-closed .state-label {
        background-color: #bd2c00;
        color: #fff;
    }

    /* issue first post author */

    .issue-box .creator {
        float: left;
        padding: 0;
        font-size: 0px;
    }

    .issue-box .creator .author_link {
        color: #555;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
    }

    .issue-box .creator .author_link:hover {
        text-decoration: underline;
    }

    .issue-box .creator .avatar {
        border-radius: 4px;
        height: 18px !important;
        width: 18px !important;
        margin: 9px 5px 9px 10px;
    }

    .issue-box .creator .note_created_ago, .issue-box .creator small {
        padding-left: 5px;
        font-size: 13px;
    }

    .issue-box .creator small time {
        margin-right: -3px;
    }

    /* issue first post links */

    .issue-box .cross-project-ref {
        line-height: 15px;
        float: right;
    }

    .issue-box .cross-project-ref .fa, .issue-box .cross-project-ref .tooltip {
        /* hide as not clickable */
        display: none !important;
    }

    /* issue comments */

    .timeline:before {
        display: none;
    }

    .timeline .timeline-entry {
        margin-left: 0px;
    }

    .timeline .timeline-entry .timeline-entry-inner {
        margin-left: 0px;
    }

    .timeline .timeline-entry .timeline-entry-inner .timeline-icon {
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px;
        height: 16px;
        width: 16px;
        position: relative;
        z-index: 999;
        margin: 9px 5px 9px 10px;
    }

    .timeline .timeline-entry .timeline-entry-inner .timeline-content {
        margin-left: 0px;
        padding: 0px 0px;
        background-color: white;
    }

    .timeline .timeline-entry .timeline-entry-inner .timeline-content:after {
        display: none;
    }

    ul.notes .note {
        border: 1px solid #ddd;
        border-radius: 3px;
        margin-bottom: 15px;
        padding: 0px 0px;
    }

    ul.notes .note .note-header {
        padding: 8px 10px;
        background-color: #f7f7f7;
    }

    ul.notes .note .note-body {
        padding: 15px 15px 10px;
    }

    ul.notes .note:last-child {
       border-bottom: 1px solid #ddd;
    }

    ul.notes .note-header {
        color: #999;
    }

    ul.notes .note-header .author {
        font-size: 13px;
        color: #555;
    }

    ul.notes .note-header .author:hover {
        color: #555;
        text-decoration: underline;
    }

    ul.notes .note-last-update small {
        font-size: 13px;
    }

    ul.notes .note-last-update small time {
        margin-right: -3px;
    }

    ul.notes .note-header .note-last-update:before {
        display: none;
    }

    .note .note-actions {
        display: inline;
        margin-top: -3px;
    }

    .note .note-actions a {
        font-size: 0px;
    }

    .note .note-actions i {
        color: #bbb;
    }

    /* edit boxes */

    .note_text {
        max-height: 500px;
    }

    /* markdown */

    .wiki code, .note-text code {
        color: #333;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 3px;
    }

    .wiki ul , .note-text ul  {
        margin: 0px 0px 9px 0px;
        padding-left: 2em;
    }

    .wiki ul ul, .note-text ul ul {
        margin-bottom: 0px;
    }

    .wiki ul, .note-text ul {
        list-style: disc;
    }

    .wiki ul ul, .note-text ul ul {
        list-style: circle;
    }

    .wiki ul ul ul, .note-text ul ul ul {
        list-style: square;
    }
}
